name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows manual run of this workflow from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Build parallel in matrix-fashion.
    strategy:
      matrix:
        system:
          # - cm4-nas
          # - contabo1
          # - contabo2
          # - devbox
          # - linodenix1
          - linodenix2
          # - rpi4-tv
          # - t14
          # - t500libre
          # - tuxedo-xa15
          # - xps13-9380
      fail-fast: false

    name: Build ${{ matrix.system }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - uses: actions/checkout@v5

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: 'github.com'

      - name: Configure SSH for Nix
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          
          # Create SSH config to use the key
          cat > ~/.ssh/config << EOF
          Host github.com
            HostName github.com
            User git
            IdentityFile ~/.ssh/id_rsa
            StrictHostKeyChecking no
          EOF
          chmod 600 ~/.ssh/config
          
          # Configure git to use SSH for GitHub
          git config --global url."git@github.com:".insteadOf "https://github.com/"

      # Unlocking secrets using the server's git-crypt key
      - name: Unlocking git secrets
        run: git-crypt unlock /etc/nixos/git-crypt-key

      # Building packages for the system
      - name: Build ${{ matrix.system }} packages
        env:
          NIX_CONFIG: "access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}"
        run: |
          # Building the flake for the ${{ matrix.system }} system
          nix --extra-experimental-features nix-command --extra-experimental-features flakes \
          build .#nixosConfigurations.${{ matrix.system }}.config.system.build.toplevel \
          --keep-going
